<div id="hotel">
  <h1>Owners</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="2000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">OWNER NUMBER</th>
      <th class="contentCell">NAME</th>
      <th class="contentCell">ADDRESS</th>
      <th class="actionCell">PHONE NUMBER</th>
      <th class="actionCell">CLINIQUE NUMBER</th>
      <th class="actionCell">ACTIONS</th>
    </thead>

    <tr *ngFor="let owner of owners; let i = index">
      <td class="contentCell">{{ owner.noproprietaire }}</td>
      <td class="contentCell">{{ owner.nom }}</td>
      <td class="contentCell">{{ owner.adresse }}</td>
      <td class="contentCell">{{ owner.notelephone }}</td>
      <td class="contentCell">{{ owner.noclinique }}</td>
        
        <!--
       <td class="contentCell" contenteditable="true" (blur)="changeHotelName($event, i)">{{hotel.name}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeHotelCity($event, i)">{{ hotel.city }}</td>
        --> 
        <td class="actionCell"> 
          <button type="button" class="submitbtn" (click)="updateHotel(i)"><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteOwner(owner.noproprietaire)"><i class="fa fa-trash-o"></i></button>
        </td>
    </tr>
    </tbody>
  </table>

  <br>

  <table align="center" border="1" width="2000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">OWNER NUMBER</th>
      <th class="contentCell">NAME</th>
      <th class="contentCell">ADDRESS</th>
      <th class="actionCell">PHONE NUMBER</th>
      <th class="actionCell">CLINIQUE NUMBER</th>
    </thead>
  <tr class="blank_row">
    <!-- <td class="contentCell" contenteditable="true" placeholder="New AnimalNo" #newHotelNb></td>
     <td class="contentCell" contenteditable="true" placeholder="New Name" #newHotelName></td>
     <td class="contentCell" contenteditable="true" placeholder="New City" #newHotelCity></td>
    -->
     <td class="contentCell" contenteditable="true" placeholder="New animalNo" #newNoOwner></td>
     <td class="contentCell" contenteditable="true" placeholder="new name" #newName></td>
     <td class="contentCell" contenteditable="true" placeholder="new type" #newAdress></td>
     <td class="contentCell" contenteditable="true" placeholder="new specie" #newTel></td>
     <td class="contentCell" contenteditable="true" placeholder="new Size" #newNoClinique></td>

     <!--
     <td class="contentCell" contenteditable="true" placeholder="new weigth" #newWeigth></td>
     <td class="contentCell" contenteditable="true" placeholder="new description" #newDescription></td>
     <td class="contentCell" contenteditable="true" placeholder="new birthDate" #newBirthDate></td>

     <td class="contentCell" contenteditable="true" placeholder="new inscription date" #newInscriptionDate></td>
     <td class="contentCell" contenteditable="true" placeholder="new state" #newState></td>
     <td class="contentCell" contenteditable="true" placeholder="new owner" #newOwner></td>
     -->
   </tr>
  </table>

  <button type="button" class="btn" (click)="insertOwner()">+</button>

</div>
